# Ignorar diretórios e arquivos de ambiente
.venv/
.env

# Ignorar arquivos gerados pelo Python
__pycache__/
*.pyc
*.pyo

# Ignorar arquivos específicos do projeto
modelo.pkl
models/
reports/

# Ignorar logs
*.log

# Ignorar configurações do editor (VS Code)
.vscode/


